body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
.top-portion ul li{
    display: inline;    
}
.different{
    padding-right: 70%;
}
.seperate{
    padding-right: 40px;
}
.top-portion a{
    text-decoration: none;
    color: black;
}
.seperate{
    margin-top: 4%;
    position: relative;
    width: max-content;
    padding-bottom: 5px;
}
.seperate:after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: gray;
    position: absolute;
    margin-top: 5px;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    transition: 100ms;
}
.seperate:hover::after{
    width: 60px;
    box-shadow: 1px 1px 25px 1px gray;
}
.number{
    & ul{
        display: flex;
        gap: 10px;
        list-style: none;
        & li{
            width: 100px;
            height: 5px;
            background-color: gray;
            border-radius: 10px;
        }
    }
}

.about div{
    position: absolute;
    display: inline-block;
    top: 100px;
    & img{
        border-radius: 5px;
        width: 50px;
        height: 50px;
        box-shadow: 0px 0px 20px 10px rgb(61, 60, 60);
        margin-bottom: 0px;
        transition: 0.5s ease-in-out; 
        bottom: 0px;
    }
}
.about{
    position: absolute;
    position: relative;
    height: 200px;
    background-color: gray;
    bottom: 0;
    overflow-y: 0;
}
.logos{
    padding-left: 40px;
}
#linkedin{
    margin-left: 80%;
    transition: 0.5s ease-in-out; 
}
#facebook{
    margin-left: 75%;
    transition: 0.5s ease-in-out;  
}
#instagram{
    margin-left: 85%;
    transition: 0.5s ease-in-out;
}
#main{
    top: 100px;
}
#linkedin img:hover{
    box-shadow: 0px 0px 20px 10px black;   
    width: 55px;
    height: 55px;
}
#instagram img:hover{
    box-shadow: 0px 0px 20px 10px black;
    width: 55px;
    height: 55px;
}
#facebook img:hover{
    box-shadow: 0px 0px 20px 10px black;
    width: 55px;
    height: 55px;
}
.price ul li{
    display: inline-block;
    & h2{
        margin-left: 50px;
        margin-right: 50px;
    }
}
.change{
    border-radius: 10px;
}
.overall{
    
    margin-left: 600px;
    padding: 30px;
    margin-top:200px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px gray;
    margin-bottom: 100px;
}
.basic{
    margin-top: 50px;
    position: relative;
}
.price1{
    position: absolute;
    z-index: 100;
    left: 400px;
    top: 0;
}
.basic p{
    position: absolute;
    z-index: 100;
    left: 400px;
    top: 30px;
}
.basic .link{
    position: absolute;
    z-index: 100;
    left: 400px;
    top: 60px;
}
.basic .click{
    position: absolute;
    z-index: 100;
    left: 400px;
    top: 110px;
}
.basic img{
    width: 300px;
    height: 300px;
}
.basic{
    margin-top: 50px;
    position: relative;
}
.basic .price1{
    position: absolute;
    z-index: 100;
    left: 400px;
    top: 0;
}
.standerd p{
    position: absolute;
    z-index: 100;
    left: 400px;
    top: 30px;
}
.standerd .link{
    position: absolute;
    z-index: 100;
    left: 400px;
    top: 60px;
}
.standerd .click{
    position: absolute;
    z-index: 100;
    left: 400px;
    top: 110px;
}
.standerd img{
    width: 300px;
    height: 300px;
}
.standerd .price1{
    position: absolute;
    z-index: 100;
    left: 400px;
    top: 0;
}
button{
    position: absolute;
    z-index: 100;
    top: 200px;
    left: 400px;
    background-color: rgb(43, 43, 43);
    border: rgb(43, 43, 43);
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 50px;
    transition: 0.5s ease-in-out;
}
button:hover{
    background-color: white;
    border: black;
    color: rgb(43, 43, 43);
    width: 100px;
    height: 50px;
    box-shadow: 0px 0px 20px 10px rgb(43, 43, 43);
}
